header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}

.logo {
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.whatsapp-button {
  background-color: #00ced1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}